@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #fffdfd;
}
::-webkit-scrollbar-thumb {
    background: #d3a1a1;
}
::selection{
  background: rgb(0,123,255,0.3);
}
.content{
  max-width: 100%;
  margin: auto;
}

.box {
    background-color: rgba(255, 255, 255, 0.493);
    backdrop-filter: blur(50px);
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }  

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 20px 100px 20px 100px;
    width: 100%;
    z-index: 1000;
    transition: 0.5s;
  }
  
  .navbar.sticky {
    padding: 20px 100px 20px 100px;
    background: #fcfcfc;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
  }
  .ReadMe_Logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    margin-right: 20px;
  }
  .navbar .content {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    min-height: 5%;
    min-width: 10%;
  }
  
  .navbar .logo a {
    color: rgb(219, 168, 168);
    font-size: 3vw;
    font-weight: 600;
    text-decoration: none;
  }
  .navbar .logo img {
    width: 10px;
    height: 10px;
  } 

.menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color: #007bff;
}

.about{
  padding: 40px 0;
}
.about .title{
  font-size: 35px;
  font-weight: 700;
}
.about p{
  padding-top: 20px;
  text-align: justify;
}
.icon{
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.icon.cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}
.navbar.sticky .icon.cancel-btn{
  top: 10px;
}
@media (max-width: 868px) {
  body.disabledScroll{
    overflow: hidden;
  }
  .icon{
    display: block;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    z-index: 9;
  }
  .icon.cancel-btn{
    display: none;
  }
  .icon.cancel-btn.show{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: #d3a1a1;
    display: block;
    padding: 40px 0;
    text-align: center;
    clip-path: circle(25px at calc(100% - 55px) calc(0% + 50px));
    transition: all 0.3s ease;
  }
  .navbar.sticky .menu-list{
    clip-path: circle(25px at calc(100% - 55px) calc(0% + 35px));
  }
  .navbar .menu-list.active{
    clip-path: circle(75%);
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
  }
}
